/*========= RESET =========*/
@charset "UTF-8";

* {margin: 0; padding: 0; font-size: 100%; border: none; outline: none; font-weight: 300; box-sizing: border-box;}
body {background-color: lightblue; }
a {text-decoration: none; }
ul {list-style: none; }
img {max-width: 100%; }

/* FORMATAÇÃO DO CONTEÚDO */
.about-me {
	width: 100%;
	font-size: 1em;
	font-family: 'Arial';
	color: #fff;
}

.img-ft {
	width: 100%;
	background-color: #323232;
	margin: 0 auto;
	padding: 5px;
}

.img-ft h1 {
	text-align: center;
	font-size: 1.7em;
	color: #fff;
	margin: -5% 0 0 0;
	font-family: RobotoSlab-regular;
	color: #f0f0f0;
}

.img-ft p {
	font-size: .9em;
	text-align: center;
	padding: 5px;
	font-family: RobotoSlab-Light;
	color: #f0f0f0;
}

.about-me img {
	width: 100%;
	display: block;
	margin: 0 auto;
	padding: 10% 10%;
	border-radius: 50%;
}

.resume p {
	background-color: #f0f0f0;
	padding: 20px;
	text-align: left;
	line-height: 25px;
	font-family: RobotoSlab-Regular;
	color: #323232;
}
/* FORMATAÇÃO DO CONTEÚDO */



/* SOFTWARES */
.software-proficiency {
	width: 100%;
	background-color: #323232;
}

.software-proficiency h1 {
	text-align: center;
	color: #f0f0f0;
	font-size: 1.5em;
	font-family: RobotoSlab-Regular;
	font-weight: 300;
	padding: 20px;
}

.software-icon {
	width: 100%;
	background-color: #323232;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}

img.icon {
	height: 60px;
	width: 60px;
	margin: 30px 15px;
}


/* SOFTWARES */

/* SKILLS */
.skills {
	width: 100%;
	background-color: #f0f0f0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around; 
}

.skill-title {
	width: 100%;
}

.skills h1 {
	text-align: center;
	color: #323232;
	font-size: 1.5em;
	font-family: RobotoSlab-Regular;
	font-weight: 300;
	padding: 20px;
}

.skill {
	height: 90px;
	width: 90px;
	background: linear-gradient(to right, #00ff7f, #3cb371);
	text-align: center;
	margin: 30px 15px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;

}

.skill ul {
	color: #f0f0f0;
	font-family: RobotoSlab-Regular;
}

.skill-ul {
	width: 100%;
	background-color: #323232;
	display: flex;
	align-content: flex-start;
	margin: 2px 0;
}

.img-skill img {
	margin: 5px auto;
}

/* SKILLS */

/* SOCIAL MEDIA */
.social {
	width: 100%;
	background-color: pink;
}

.social-media {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: deeppink;
	display: inline-block;
	margin: 0 auto;
}

.social-media img {
	padding-top: 21.5%;
	display: block;
	margin: 0 auto;
}
/* SOCIAL MEDIA */




































































